body{
  position: relative;
  height: 100%;
  width: 100%;
  /*what background should we use, if any??*/
  background-repeat: no-repeat;
  background-size: cover;
  
}

/*The header has the search bar and the logo, most of this css is to center everything*/
.Home header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
}

.Home .SearchBar{
  max-height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Align the logo and the searchbar 
so that they're centred with each other*/
.Home header .logo, .Home .SearchBar img{
  vertical-align: bottom;
}

.Home .SearchBar input, button{
  padding: 1.5%;
  height: 3%;
  vertical-align: bottom;
  margin: 1%;
  border-radius: 12%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(221, 218, 229);
  box-shadow: 1px 1px rgba(227, 224, 224, 0.8);
  transition: border-color 1s;
  outline: 0;
}

.Home .SearchBar input:focus{
  border-color: rgba(66, 70, 210, 0.913);
}

.Home .SearchBar button{
  border-radius: 15px 50px 30px;
  padding: 2%;
}

.Home .SearchBar button:hover{
  background-color: whitesmoke;
  border-color: rgba(66, 70, 210, 0.913);
}

.Home .SearchBar img{
  opacity: 0.5;
  max-width: 8%;
  height: auto;
}