/*This is the stylesheet for the 'Searched' component, which includes the SearchBar and SearchRes components*/

.Searched body{
  width: 100%;
  height: 100%;
}

/*The header has the search bar and the logo, most of this css is to centre everything*/
.search-page header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-page hr{
  height: 1px;
  background-color: rgb(232, 204, 245);
  border: none;
}

.search-page img{
  max-width: 13%;
  height: auto;
  margin-right: 3%;
}

.search-page .search-icon{
  max-width: 8%;
  margin-right: 0%;
  height: auto;
}

.search-page .SearchBar{
  max-height: 20%;
  position: relative;
  display: inline;
}

.search-page .SearchBar input, button{
  padding: 1%;
  height: 65%;
  vertical-align: bottom;
  margin: 1%;
  border-radius: 12%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(221, 218, 229);
  box-shadow: 1px 1px rgba(227, 224, 224, 0.8);
  transition: border-color 1s;
  outline: 0;
}

.search-page .SearchBar input:focus{
  border-color: rgba(66, 70, 210, 0.913);
}

.search-page .SearchBar button{
  border-radius: 15px 50px 30px;
  padding: 2%;
}

.search-page .SearchBar button:hover{
  background-color: whitesmoke;
  border-color: rgba(66, 70, 210, 0.913);
}

.search-page .SearchBar img{
  opacity: 0.5;
}

.search-page .solNum{
  color:rgb(203, 198, 218);
  font-size: medium;
}

.search-page .results{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 15%;
}

.search-page .results a{
  text-decoration: none;
  color:rgba(133, 66, 210, 0.913)
}

.search-page .results a:hover{
  text-decoration: underline;
}

.search-page .results h2{
  font-size:xx-large;
}

.search-page .results p{
  font-size: large;
}

.search-page .SearchRes p{
  width: 45%;
  opacity: 0.9;
}

